.grid {
  --grid-cols: 1fr;
  display: grid;
  grid-template-columns: var(--grid-cols);
  margin: var(--spacing-0) calc(var(--spacing-4) * -1);

  &:not(:last-child) {
    margin-bottom: var(--spacing-4);
  }

  @media (min-width: 48rem) {
    --grid-cols: 1fr 1fr;
  }

  @media (min-width: 64rem) {
    --grid-cols: 1fr 1fr 1fr;
  }
}

.item {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-4);

  > * {
    flex: 1;
  }
}

.noRecords {
  --span: 1;
  grid-column: 1 / span 1;
  padding: var(--spacing-4);

  @media (min-width: 48rem) {
    --span: 2;
  }

  @media (min-width: 64rem) {
    --span: 3;
  }
}
