.button {
  --offset-y: calc(var(--footer-h) + var(--spacing-6));
  --trans-x: calc(100% + var(--offset-y));

  position: fixed;
  bottom: var(--offset-y);
  right: var(--spacing-6);
  z-index: 999;
  padding: var(--spacing-4);
  border: none !important;

  transition: all 0.2s ease-in-out;
  transform: translateY(var(--trans-x));

  @media (min-width: 48rem) {
    --offset-y: var(--spacing-6);
  }
}

.show {
  transform: translateY(0);
}
