@use 'mixins' as *;

:root {
  --appbar-h: 3.25rem;

  @media (min-width: 62rem) {
    --appbar-h: 4rem;
  }
}

.appbar {
  z-index: 999;
  position: sticky;
  top: var(--spacing-0);
  color: var(--light);
  background-color: var(--primary);
}

.toolbar {
  @include container;
  display: flex;
  align-items: center;
  gap: var(--spacing-0);
  min-height: var(--appbar-h);
  padding: var(--spacing-0);
}

.brand {
  display: flex;
  gap: var(--spacing-4);
  align-items: center;
  padding: var(--spacing-6);
}

.appName,
.title {
  font-size: var(--fs-medium);
  font-weight: var(--fw-normal);
  text-transform: uppercase;
  line-height: 1;
}

.title {
  flex: 1;
  margin: var(--spacing-0);
}

.profileButton {
  --alpha: 25%;
  --my: calc(var(--spacing-6) * -1);

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--spacing-6);

  height: var(--appbar-h);
  margin: var(--my) var(--spacing-0);
  background-color: rgb(0 0 0 / var(--alpha)) !important;
  text-align: left;

  &:hover {
    --alpha: 50%;
  }

  img {
    width: 2rem;
    height: 2rem;
    border-radius: var(--full);
    border: var(--spacing-2) solid rgb(255 255 255 / 25%);
  }

  span,
  small {
    line-height: 0.9;
  }

  span {
    display: block;
  }

  small {
    color: var(--secondary);
    text-transform: lowercase;
  }

  @media (max-width: 61.9375rem) {
    padding: var(--spacing-4) var(--spacing-6);
  }

  @media (max-width: 47.9375rem) {
    grid-template-columns: auto;
    justify-content: center;
  }
}
