@use 'sass:map';
@use 'variables' as *;
@use 'mixins' as *;

.pager {
  display: flex;
  gap: var(--spacing-3);
}

.button {
  $color: map.get($colors, 'light');
  $background-color: map.get($colors, 'paper-dark');

  @include button-style($background-color, $color);
  padding: var(--spacing-3) !important;
  min-width: var(--spacing-9);
}
